[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
joblib = "*"
fastapi = "*"
uvicorn = "*"
matplotlib = "*"
email-validator = "*"
python-dotenv = "*"
tensorflow = "*"
scikeras = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"

[dev-packages]

[requires]
python_version = "3.12"
